@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Source+Sans+3:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
/* Google Fonts Import */

/* Font Variables */
:root {
  --font-heading: "Playfair Display", serif;
  --font-body: "Source Sans 3", sans-serif;
}

/* Global Usage */
body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}






@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.2s ease-out;
}


body {
  font-family: var(--font-body);
}

/* Mobile devices ke liye */
@media (max-width: 768px) {
  body {
    margin-top: 25px;
  }
}

 body {
    margin-top: 20px;
  }